<% provide(:title, "All Stories") %>

<h1>All Stories</h1>

<% if current_user != nil %>
  <%= link_to "Add Story", new_story_path, class: "btn btn-lg btn-primary" %>
<% end %>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Owner</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
    <% @stories.each do |story| %>
      <tr class="story-row" id="<%= dom_id(story) %>">
        <td class="name">
          <%= link_to story.name, controller: "stories", action: "show", id:story.id %>
        </td>
        <td class="username"><%= story.user.username %></td>
        <td class="description"><%= story.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>