<% provide(:title, @story.name) %>

<h1>
  <%= @story.name %>
</h1>
<h2>
  <%= @story.description %>
</h2>

<div>
  <% @memories.each do |memory| %>
    <h4><%= memory.date %></h4>
    <% if memory.image.profile.url.present? %>
      <%= link_to memory.image.profile.url do %>
        <%= image_tag memory.image.profile.url %><br/>
      <% end %>  
    <% end %>
  <% end %>
</div>