<% provide(:title, "All Memories") %>

<h1>All Memories</h1>

<% if current_user != nil %>
  <%= link_to "Add Memory", new_memory_path, class: "btn btn-lg btn-primary" %>
<% end %>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Date</td>
      <td>Owner</td>
      <td>Description</td>
      <td>Image</td>
      <td>Story</td>
    </tr>
  </thead>
  <tbody>
    <% @memories.each do |memory| %>
      <tr class="memory-row" id="<%= dom_id(memory) %>">
        <td class="name"><%= memory.name %></td>
        <td class="date"><%= memory.date %></td>
        <td class="username"><%= memory.user.username %></td>
        <td class="description"><%= memory.description %></td>
        <td class="image">
        <% if memory.image.profile.url.present? %>
          <%= link_to memory.image.profile.url do %>
            <%= image_tag memory.image.profile.url %><br />
          <% end %>
        <% end %>
        </td>
        <td class="story"><%= memory.story.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>