<% provide(:title, "New Memory") %>

<h1>Add a memory to a story</h1>

<%= form_for(@memory) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field :name %>
  <br />
  <%= f.label(:description) %>
  <%= f.text_field :description %>
  <br />
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image, :required => true %>
    <%= f.hidden_field :image_cache %>
  </div>
  <br />
  <%= f.label(:date) %>
  <%= f.date_field :date %>
  <br />
  <%= f.label(:story_id) %>
  <%= f.select :story_id, options_from_collection_for_select(Story.where(user_id: current_user.id), 'id', 'name') %>
  <br />
  <%= f.submit "Create Memory" %>
<% end %>